* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

kbd {
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

kbd>button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover>button {
    display: inline-block;
    background-color: transparent;
    color: white;
}

main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background: url(./bgimage.jpg);
    background-size: cover;
}

#main1 {
    display: inline-block;
}

#main1 div:nth-child(2) {
    margin-left: -40px;
}

#main1 div:nth-child(3) {
    margin-left: -150px;
}

.wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.key {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    height: 66px;
    border-radius: 8px;
    color: #D1D0D2;
    background: linear-gradient(to bottom, #2b2b30 0%, #121113 100%);
    box-shadow: 0 0 0 1px rgba(30, 29, 30, 1), 0 0 0 1px rgba(26, 24, 26, 1), 0 3px 0 2px rgba(9, 8, 9, 1);
    position: relative;
}

.row {
    margin: 18px;
}

.row .key {
    margin: 0 10px;
}
.key img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.key .text{
    position: absolute;
    left: 4px;
    top: 4px;
}